

.title {
  text-transform: uppercase;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.num {
  font-size: 50px;
}
.buttonsDiv{
  display: flex;
  justify-content: space-around;
}

.btn {
  padding: 20px 40px; 
  font-size: 50px;
}

#total{
  -webkit-appearance: none;
  width: 100%;
  background-color: orange !important;
  
}
#total::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: transparent;
  background-image: url('../assets/monster.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50px 50px;
}
